.modal {
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: rgb(196 196 196 / 51%);
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  opacity: 0;
}

.modal.active {
  pointer-events: all;
  opacity: 1;
}

.modalContent {
  width: 642px;
  height: 280px;
  left: 0;
  top: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  transform: scale(0.5);
  transition: 0.2s all;
  overflow: hidden;
}

.modalContent.active {
  transform: scale(1);
}

.edit-text {
  border-radius: 8px;
  margin: 10px 15px;
  padding: 7px;
  font-size: 20px;
}

.information {
  width: 642px;
  height: 90px;
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;  
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    padding-left: 29px;
  }
}

.message-div {
  width: 580px;
  height: 90px;
  display: flex;
  justify-content: flex-start;

  p {
    font-size: 24px;
  }
}

.button-div {
  background: #FFFFFF;
  box-shadow: 4px 0px 4px 4px rgba(0, 0, 0, 0.25);  
  width: 642px;
  height: 89px;
  left: 0px;
  top: 235px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .buttonCancel {
    background: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    width: 146px;
    height: 40px;
    margin-right: 12px;
  }

  .buttonDelete {
    background: rgba(197, 233, 255, 0.72);
    border: 2px solid rgba(197, 233, 255, 0.72);
    box-sizing: border-box;
    border-radius: 4px;
    width: 146px;
    height: 40px;
    margin-right: 24px;
  }
}