table {
	width: 100%;
	margin-bottom: 20px;
  border-collapse: collapse;
  border-spacing: 0;

  tbody {
    border: 1px solid;
  } 

  thead, th {
    font-weight: bold;
    text-align: left;
    padding: 10px 15px;
    background: #d8d8d8;
    font-size: 14px;
    text-align: center;
    font-size: 18px;  
  }
  tbody, td {
    text-align: center;
    border-left: 1px solid black;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
    background-color: white;
    font-size: 18px;

    .icon {
      display: flex;
      justify-content: space-around;
    }
  }
}